{% extends '../index.html' %}
{% load static %}

{% block title %} home {% endblock %}



{% block content %}

<!-- Banner -->
<header class="bg-light">
  <div class="position-relative overflow-hidden d-flex align-items-center " style="height: 60vh;width: 100%;">
    <!-- Miniatura -->
    <div class="col-md-5 mx-4 mb-4 d-flex ">
      <img class="img-fluid mx-auto " width="220" height="300" style=" 
              background-size: cover; 
              background-position: 50% 50%;
              background-image: url('{{ personaje.imagen }}');">
    </div>
    <!-- end Miniatura -->
    <div class="col ">

      <h4 class="featurette-heading text-muted ">nombre: <strong class="text-dark">{{ personaje.nombre_personaje }} </strong>  </h4>

      {% if personaje.titulo_interprete1 %}
      <h6 class="featurette-heading text-muted "> {{ personaje.titulo_interprete1 }} : <span class="text-dark"> {{personaje.selec_interprete1}} </span></h6>
      {% endif %}

      {% if personaje.titulo_interprete2 %}
      <h6 class="featurette-heading text-muted "> {{ personaje.titulo_interprete2 }} : <span class="text-dark"> {{personaje.selec_interprete2}} </span></h6>
      {% endif %}
      
      
      {% if personaje.titulo_interprete3 %}
      <h6 class="featurette-heading text-muted "> {{ personaje.titulo_interprete3 }} : <span class="text-dark"> {{personaje.selec_interprete3}} </span></h6>
      {% endif %}
      
    </div>
  </div>
  <!-- end Banner -->
</header>
<!-- EDN HEADER -->




<div class="container mt-5 bg-light">
  <div class="article">
    {{ personaje.bio|safe }}
  </div>



  
  <div class="article mt-5">
    <div class="d-flex align-items-center justify-content-center p-3 my-3 text-white bg-dark rounded shadow-sm">        
      <h1 class="h1 mb-0 text-white text-center lh-1">Links de interés:</h1>
    </div>
    {{ personaje.bio|safe }}
  </div>

</div>



{% endblock %}