{% extends '../index.html' %}
{% load static %}

{% block title %} home {% endblock %}





{% block content %}



<!-- HEADER -->

<div class="bg-light">

    <!-- Baner -->
    <div class="position-relative overflow-hidden d-flex align-items-center"
    style="height: 60vh;width: 100%;"
    >
        <img src="{% static 'img/titulo/titulo1.jpg' %}" class="d-block w-100"  alt="">
    </div>
    <!-- Baner -->


    <!-- descripcion -->
    <div class="container">
        
        <!-- OCULTAR EN MD -->
            <div class="row featurette d-flex align-items-center">
                <div class="col-md-7 order-md-2">

            <h4 class="featurette-heading text-muted"> Titulo </span></h4>
                
            <p class="lead text-muted ">
                
                Another featurette? Of course. More placeholder content
                here to give you an idea of how this layout woul
                work with some actual real-world content in place.
            </p>

            </div>
        <!-- descripcion -->


        <!-- Miniatura -->
        <!-- CAMBIAR TAMAÑO -->
        <div class="col-md-3 order-md-1 d-flex justify-content-center "    
        >
                <img class="pb-5  img-fluid mx-auto" 
                width="250" height="250" 
                src="{% static 'img/titulo/titulo1.jpg' %}" 
                />
            
            </div>
        <!-- Miniatura -->

    </div>

    </div>

    <!-- EDN HEADER -->
</div>

<!-- separador -->
<div class="mx-3 bg-light ">
    <hr>
</div>
<!-- separador -->


 
<div class="row d-flex justify-content-center"> <!-- row -->

<!-- siderbar -->
    <div class="col col-2 mx-0">
    <div class="bg-white" >
            <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
              <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
              <span class="fs-5 fw-semibold">Collapsible</span>
            </a>

            <ul class="list-unstyled ps-0">
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                  Home
                </button>
                <div class="collapse" id="home-collapse" style="">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Overview</a></li>
                    <li><a href="#" class="link-dark rounded">Updates</a></li>
                    <li><a href="#" class="link-dark rounded">Reports</a></li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                  Dashboard
                </button>
                <div class="collapse" id="dashboard-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Overview</a></li>
                    <li><a href="#" class="link-dark rounded">Weekly</a></li>
                    <li><a href="#" class="link-dark rounded">Monthly</a></li>
                    <li><a href="#" class="link-dark rounded">Annually</a></li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                  Orders
                </button>
                <div class="collapse" id="orders-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">New</a></li>
                    <li><a href="#" class="link-dark rounded">Processed</a></li>
                    <li><a href="#" class="link-dark rounded">Shipped</a></li>
                    <li><a href="#" class="link-dark rounded">Returned</a></li>
                  </ul>
                </div>
              </li>
              <li class="border-top my-3"></li>
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                  Account
                </button>
                <div class="collapse" id="account-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">New...</a></li>
                    <li><a href="#" class="link-dark rounded">Profile</a></li>
                    <li><a href="#" class="link-dark rounded">Settings</a></li>
                    <li><a href="#" class="link-dark rounded">Sign out</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>

    </div>

<!-- end siderbar -->


    <div class="col col-md-9 bg-white  ">


        <div class="container">
            
            <!-- Personajes -->
            <div class="p-5">
                <h4 class="text-muted">personajes</h4>
                <hr>
                <div class="row">
                    <div class="col-3">
                        
                        <div class="d-flex text-muted pt-3">
                                <a href="{% url 'staff' %}">
                                <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" 
                                width="50" height="50" />                  
                                </a>
                                <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            
                                    <div class="d-flex justify-content-between">

                                    <strong class="text-gray-dark">Full Name</strong>
                                    
                                     <a href="#">Follow</a>
                                    </div>

                                <span class="d-block">@username</span>
                                </div>
                            </div>


                    </div>

                    <div class="col-3">
                        <div class="d-flex text-muted pt-3">
                            <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" 
                            width="50" height="50" />                  
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">

                                <strong class="text-gray-dark">Full Name</strong>
                                <a href="#">Follow</a>
                            </div>
                            <span class="d-block">@username</span>
                            </div>
                        </div>
                    </div>

                    
                    <div class="col-3">
                        <div class="d-flex text-muted pt-3">
                            <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" 
                            width="50" height="50" />                  
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">

                                <strong class="text-gray-dark">Full Name</strong>
                                <a href="#">Follow</a>
                            </div>
                            <span class="d-block">@username</span>
                            </div>
                        </div>
                    </div>

                    
                    <div class="col-3">
                        <div class="d-flex text-muted pt-3">
                            <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" 
                            width="50" height="50" />                  
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">

                                <strong class="text-gray-dark">Full Name</strong>
                                <a href="#">Follow</a>
                            </div>
                            <span class="d-block">@username</span>
                            </div>
                        </div>
                    </div>

                    
                    <div class="col-3">
                        <div class="d-flex text-muted pt-3">
                            <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" 
                            width="50" height="50" />                  
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">

                                <strong class="text-gray-dark">Full Name</strong>
                                <a href="#">Follow</a>
                            </div>
                            <span class="d-block">@username</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End personajes -->


            <!-- STAFF -->
            <div class="p-5">
                <h4 class="text-muted">Staff</h4>
                <hr>
                <div class="row">
                    <div class="col-3">
                        <div class="d-flex text-muted pt-3">
                            <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" 
                            width="50" height="50" />                  
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">

                                <strong class="text-gray-dark">Full Name</strong>
                                <a href="#">Follow</a>
                            </div>
                            <span class="d-block">@username</span>
                            </div>
                        </div>

                    </div>

                    <div class="col-3">
                        <div class="d-flex text-muted pt-3">
                            <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" 
                            width="50" height="50" />                  
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">

                                <strong class="text-gray-dark">Full Name</strong>
                                <a href="#">Follow</a>
                            </div>
                            <span class="d-block">@username</span>
                            </div>
                        </div>
                    </div>

                    
                    <div class="col-3">
                        <div class="d-flex text-muted pt-3">
                            <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" 
                            width="50" height="50" />                  
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">

                                <strong class="text-gray-dark">Full Name</strong>
                                <a href="#">Follow</a>
                            </div>
                            <span class="d-block">@username</span>
                            </div>
                        </div>
                    </div>

                    
                    <div class="col-3">
                        <div class="d-flex text-muted pt-3">
                            <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" 
                            width="50" height="50" />                  
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">

                                <strong class="text-gray-dark">Full Name</strong>
                                <a href="#">Follow</a>
                            </div>
                            <span class="d-block">@username</span>
                            </div>
                        </div>
                    </div>

                    
                    <div class="col-3">
                        <div class="d-flex text-muted pt-3">
                            <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" 
                            width="50" height="50" />                  
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">

                                <strong class="text-gray-dark">Full Name</strong>
                                <a href="#">Follow</a>
                            </div>
                            <span class="d-block">@username</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End Staff -->


            
    </div>


</div> <!-- End row -->



{% endblock %}