<div class="btn-group-vertical btn-lg" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-primary ">Left</button>
  <button type="button" class="btn btn-outline-primary">Middle</button>
  <button type="button" class="btn btn-outline-primary">Right</button>
  <button type="button" class="btn btn-outline-primary">Right</button>
  <button type="button" class="btn btn-outline-primary">Right</button>
  <div class="btn-group dropend">
    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown"
      aria-expanded="false">
      Dropright
    </button>
    <ul class="dropdown-menu dropdown-menu-primary" aria-labelledby="navbarDarkDropdownMenuLink">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>

</div>